doctype html
html 
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="stylesheets/gui.min.css")
    link(rel="stylesheet" href="stylesheets/style.css")
  body
    block content
    script(src="scripts/gui.min.js")

