extends layout

block content
  header.header.header-local
    h1.header-text=title
  div.container-fluid
    div.main.main-padded
      form(action='/upload', method='POST', enctype="multipart/form-data")
        h2 Upload a swagger to generate mocks
        div.mb-3
          label.form-label Unique Correlation Prefix ID:
          span.label.label-neutral unique Id per swagger
          input.form-control(type='text', name='correlationPrefix', value='')
          br
          label.form-label Swagger file:
          span.label.label-neutral yaml file
          input.form-control.upload(type='file', name='swagger', value='')
        button.btn.btn-primary(type='submit') Upload and Generate mocks
